# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo
*.lai

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/

# misc production directories
/bin/*
/lib/*
/attic/*
/testing/*
/src/build/*

# LuaJIT build artifacts
/LuaJIT-*/src/host/
/LuaJIT-*/src/luajit
/LuaJIT-*/src/libluajit.*
/LuaJIT-*/src/*.o
/LuaJIT-*/src/lj_*.h
/LuaJIT-*/src/jit/*.lua
/LuaJIT-*/src/lj_vm.s

